<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>SessionTrackingServlet</servlet-name>
        <servlet-class>com.example.SessionTrackingServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SessionTrackingServlet</servlet-name>
        <url-pattern>/SessionTrackingServlet</url-pattern>
    </servlet-mapping>
    
</web-app>
